// INIT USER CARD
.user-card{
  border: 1px solid #5B66D2;
  border-radius: 7px;
  padding: 15px 20px;
  position: relative;

  &__cpf-number{
    margin-bottom: 8px;
  }

  &__devices{
    display: flex;
    justify-content: flex-start;
  }

  &__device-item{
    margin-right: 12px;

  }

  &__go-to-user{
    border: none;
    padding: 5px;
    background: none;
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
  }
}
// END USER CARD